<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          Qui suis-je
        </a>
        <a href="#" class="navbar-brand d-flex align-items-center">
          Diplômes / certifications
        </a>
        <a href="#" class="navbar-brand d-flex align-items-center">
          Expériences pro.
        </a>
        <a href="#" class="navbar-brand d-flex align-items-center">
          Expériences perso.
        </a>
        <a href="#" class="navbar-brand d-flex align-items-center">
          Compétences
        </a>
        <a href="#" class="navbar-brand d-flex align-items-center">
          Hobbies
        </a>
    </div>
  </div>