<div class="container-fluid greybg">
    <div class="title">Hobbies / Centres d'intérêt</div>
    <div class="row justify-content-center lign-items-center" *ngFor="let hobby of hobbies">
        <div class="separator">
            <div class="border half-width"></div>
        </div>
        <div class="col-3">
        </div>
        <div class="col-1" >
            <img src={{hobby.logo}} class="right">
        </div>
        <div class="col-5">
            <h2> <u>{{hobby.name}} </u></h2><br>       
            <p [innerHTML]="hobby.desc"> </p>
        </div>
        <div class="col-3">
        </div>
    </div>

    <div class="last-component"></div>
</div>