.separator {
    width: 100%;
    margin-top:30px;
}
.border {
    border: 1px solid #025c6c!important;
    margin-bottom: 30px;
}   
.half-width{
    margin-left: 25%;
    width: 50%;
}
img {
    width:150px;
}

.right{
    float:right;
}
.title{
    color: #025c6c;
}