


<div class="container-fluid bluebg">
    <div class="row justify-content-center h-100 align-items-center" *ngFor="let experiencePro of experiencesPro">
        <div class="separator">
            <div class="border"></div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-1">
            <div style="height:30px;width:100px;background:red">

            </div>
        </div>
        <div class="col-3" >
            <b>{{experiencePro.company}}</b><br>
            {{experiencePro.location}}<br>
            {{experiencePro.dateStart}} - {{experiencePro.dateEnd}}
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
            {{experiencePro.desc}}
        </div>
        <div class="col-2">
        </div>
      </div>
</div>