.fa{
    float: left;
    font-size: 2.5em;
    margin-left:0px;
    position: absolute;
    animation-name: coming;
    animation-duration: 4s;
    animation-direction: normal;  
    animation-timing-function: linear;
}
.separator {
    width: 100%;
    margin-top:30px;
}
.border {
    border: 1px solid #cfcfcf!important;
    margin-bottom: 30px;
}   
.half-width{
    margin-left: 25%;
    width: 50%;
}

img{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.full-width{
    width:100%;
}
  
  @keyframes coming {
    0%   {margin-left:-2000px;-webkit-transform: rotate(0deg); transform:rotate(0deg);}
    25%  {margin-left:-1500px;-webkit-transform: rotate(90deg); transform:rotate(90deg);}
    50%  {margin-left:-1000px;-webkit-transform: rotate(180deg); transform:rotate(018deg);}
    75%  {margin-left:-500px;-webkit-transform: rotate(270deg); transform:rotate(0de27g);}
    100% {margin-left: 0px;-webkit-transform: rotate(360deg); transform:rotate(360deg);}
  }