/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body
{
    height: 100%;
}
.fill { 
    min-height: 100%;
}
.half-fill { 
    min-height: 50%;
}

.greybg{
    background-color:#f3f3f3;
}
.bluebg{
    background-color:#025c6c;
    color:white;
}
.title{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 45px;
}
.last-component{
    padding-bottom:45px;
    width:100%;
}

.separator {
    width: 100%;
    margin-top:30px;
}
.col-xs-0, 
.col-sm-0,
.col-md-0,
.col-lg-0 {
  flex: 0 0 0;
  max-width: 0;
  display:none !important;
}

@media (max-width: 767px) {

    .text-sm-center {
      text-align: center;
    } 
    .sm-margin-bottom{
        margin-bottom:30px;
    }
  }